.wrapper {
  max-height: 400px;
  overflow: auto;
  background-color: var(--white-color);
  padding: 8px 4px;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  transition: all 0.2s linear;

  &:hover {
    background-color: #dadada;
    cursor: pointer;
  }

  .result-img {
    height: 100px;
    width: 100px;
  }

  .content {
    flex: 1;
    margin-left: 16px;
  }
}
