.shipper-detail{
    margin-top: 100px;
}
.user{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    background: #fff;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    span{
        font-size: 14px;
        color: var(--primary-color);
    }
    i{
        color: var(--primary-color);
        margin-right: 10px;
    }
}
.order{
    background: #fff;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.costs{
    background: #fff;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    .cost{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .total{
        font-size: 20px;
        font-weight: 600;
    }
    .btn-accept{
        text-align: right;
    }
}
.product-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    .product-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 10px;
      .image {
        width: 80px;
      }
      .infor {
        text-align: left;
        flex: 1;
        margin: 0 10px;
        &-price {
          color: var(--primary-color);
        }
      }
    }
  }

